@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import "tailwindcss";




body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: 1px;
}

select option {
  background-color: #E3001B;
  color: white;
  padding: 5px;
}
